{{/* layouts/partials/extend_head.html */}}
{{ $about := resources.Get "css/about.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $about.RelPermalink }}">
{{ $button_brand := resources.Get "css/button-brand.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $button_brand.RelPermalink }}">
{{ $contact := resources.Get "css/contact.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $contact.RelPermalink }}">
{{ $events := resources.Get "css/events.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $events.RelPermalink }}">
{{ $main := resources.Get "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $main.RelPermalink }}">
{{ $publications := resources.Get "css/publications.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $publications.RelPermalink }}">
{{ $services := resources.Get "css/services.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $services.RelPermalink }}">
